.body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top {
    display: flex;
    width: 100%;
    height: 12.5rem;
    align-items: center;
    justify-content: center;

    height: 12.5rem;
    background: var(--gray-700);
}

.task {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.addTask {
    width: 39.87rem;
    height: 3.37rem;

    background: var(--gray-500);
    border-radius: 8px;
    border: transparent;

    margin-top: -1.69rem;
    padding: 1rem;

    color: var(--gray-300);
    font-size: 1rem;
    font-weight: 400;
}

.addButton {
    width: 5.62rem;
    height: 3.25rem;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    color: var(--white-100);
    font-size: 0.87rem;

    transition: 0.3s background;

    margin-top: -27px;

    background: var(--blue-400);
    border: transparent;
    border-radius: 8px;
}

.addButton:hover {
    background: var(--blue-200);
}

.content {
    width: 46rem;
}

.status {
    display: flex;
    margin-top: 4rem;
    justify-content: space-between;
}

.createdTask {
    display: flex;
    gap: 0.5rem;
}

.createdTask span {
    font-size: 0.87rem;
    font-weight: 700;
    color: var(--blue-200);
}

.createdTask strong {
    background: var(--gray-400);
    border-radius: 999px;

    width: 24px;
    height: 19px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 0.75rem;
}

.completedTask {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.completedTask span {
    font-size: 0.87rem;
    font-weight: 700;
    color: var(--purple-200);
}

.completedTask strong {
    width: 3.25rem;
    height: 1.19rem;

    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--gray-400);

    border-radius: 999px;

    font-size: 0.75rem;
}